*{
    color: black;
}

.estoque{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
}

.lista{
    width: 100%;
    height: 90vh;
    margin: 0px 10px 0px 10px;
}

.lista.produtoAtivo{
    animation-name: reduzirWidgetLista;
    animation-duration: 0.7s;
    width: 80%;
    height: 90vh;
}

@keyframes reduzirWidgetLista{
    0%   {width: 100%; 
        height: 90vh;}
    100% {width: 80%; 
        height: 90vh;}
}

.modal{
    display: none;
    opacity: 0;
    height: 90vh;
}

.modal.produtoAtivo{
    display: block;
    animation-name: aumentarWidgetModal;
    animation-duration: 0.7s;
    width: 20%;
    opacity: 1;
    height: 90vh;
    margin: 0px 10px 0px 10px;
}

@keyframes aumentarWidgetModal{
    0%   {width: 10%; 
        opacity: 0; 
        height: 90vh;}
    100% {width: 20%; 
        opacity: 1;
        height: 90vh;}
}

.lista.produtoInativo{
    animation-name: aumentaWidgetLista;
    animation-duration: 0.7s;
    width: 80%;
    height: 90vh;
}

@keyframes aumentaWidgetLista{
    0%   {
        width: 100%; 
        height: 90vh;
    }
    100% {
        width: 80%; 
        height: 90vh;
    }
}
