*{
    color: black;
    font-size: 12px;
}

.estoque{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
}

.lista{
    width: 100%;
    height: 80vh;
    max-height: 80vh;
    margin: 0px 10px 0px 10px;
}

.lista.produtoAtivo{
    animation-name: reduzirWidget;
    animation-duration: 0.7s;
    width: 0%;
    opacity: 0;
}

@keyframes reduzirWidget{
    0%   {width: 100%; opacity: 1;}
    100% {width: 0%; opacity: 0;}
}


.modal{
    display: none;
    opacity: 0;
    height: 80vh;
    max-height: 80vh;
    width: 50%;
}

.modal.produtoAtivo{
    display: block;
    animation-name: aumentarWidget;
    animation-duration: 0.7s;
    width: 50%;
    opacity: 1;
    margin: 0px 10px 0px 10px;
}

@keyframes aumentarWidget{
    0%   {width: 0%; opacity: 0;}
    100% {width: 50%; opacity: 1;}
}