*{
    color: black;
}

.estoque{
    display: flex;
    flex-direction: row;
}

.subWidgets{
    width: 100%;
    margin: 0px 10px 0px 10px;
}

.subWidgets.produtoAtivo{
    animation-name: reduzirWidget;
    animation-duration: 0.5s;
    width: 50%;
}

@keyframes reduzirWidget{
    0%   {width: 100%;}
    100% {width: 50%;}
}