*{
    color: black;
}

.estoque{
    display: flex;
    flex-direction: row;
}

.lista{
    width: 100%;
    margin: 0px 10px 0px 10px;
}

.lista.produtoAtivo{
    animation-name: reduzirWidget;
    animation-duration: 0.7s;
    width: 65%;
}

@keyframes reduzirWidget{
    0%   {width: 100%;}
    100% {width: 65%;}
}


.modal{
    display: none;
    opacity: 0;
}

.modal.produtoAtivo{
    display: block;
    animation-name: aumentarWidget;
    animation-duration: 0.7s;
    width: 35%;
    opacity: 1;
    margin: 0px 10px 0px 10px;
}

@keyframes aumentarWidget{
    0%   {width: 0%; opacity: 0;}
    100% {width: 35%; opacity: 1;}
}
