*{
    font-size: 12px;
}
.config-comanda-produtos{
    display: flex;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    margin: 10px;
    background-color: #fff0be;
    flex-direction: column;
    align-items: center;
}