*{
    color: #000000;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 0px 0px;
}

.margin{
    margin: 20px;
}

.commitment{
    background-color: #fff0be;
    border-radius: 10px;
    height: 92vh;
    width: 100%;
}