*{
    font-size: 12px;
}
.comanda{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 90vh;
    background-color: #FFCF9C;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 0px 0px 00px;
}

.config-comanda{
    display: flex;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
    margin: 10px;
    background-color: #FFCF9C;
    flex-direction: column;
    align-items: center;
}

.dados-itens{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: none;
    max-height: 70vh;
}

table{
    margin: 10px;
    width: 100%;
    height: 10%;
}

thead, tbody{
    max-height: 20%;
    box-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.281);
}

td, th{
    border: transparent;
    border-color: transparent;
    border-style: hidden;
    padding: 15px;
    text-align: center;
}

.informativo-itens{
  background-color: transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: solid;
  border-width: 0.5px;
}

.dados-actions{
    min-height: 5vh;
    margin: 10px;
    width: 70%;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.action-cancelar{
    background-color: #CA054D;
    border-color: #CA054D;
    border-radius: 5px;
    border-width: 1px;
    font-weight: lighter;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}

.action-fechar{
    background-color: #A4D4B4;
    border-color: #A4D4B4;
    border-radius: 5px;
    border-width: 1px;
    font-weight: bold;
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
}

input{
    width: 50%;
}
