.comanda-identificadores{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0.8rem 0.8rem 0.0rem 0.8rem;
}

.identificador{
    width:50%;
    background-color: #B96D40;
    opacity: 0.6;
    border-color: transparent;
    border: transparent;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    color: black;
    padding: 3px;
    margin: 3px;
    cursor: pointer;
}

.identificador:hover{
    font-weight: bold;
    opacity: 1.0;
    transition: 0.3s;
}
