h1{
    margin: 20px;
}
.comandas{
    width: 25%;
    min-height: 90vh;
    background-color: #FFCF9C;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 0px 0px 10px;
}


.comanda-adicionar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: #FFCF9C;
    border-color: transparent;
    border: transparent;
    padding: 0.0rem 0.6rem 0.0rem 0.0rem;
    margin: 0.0rem;
    border-radius: 5px 5px 5px 5px;
}