.comanda-lista{
    background-color: #FFCF9C;
    border-radius: 5px 5px 5px 5px;
    margin: 1.0rem 1.0rem 0.0rem 1.0rem;
    min-height: 10%;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;

    
}